.containCelebration {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    color: #ae593c;
    background-image: 
      linear-gradient(to bottom, rgba(250, 248, 241, 0.8), rgba(250, 248, 241, 0)), /* گرادیان */
      url("../../public/img/image 6.png"); /* تصویر پس‌زمینه */
    background-size: unset; 
    background-repeat: repeat; 
  }
  
.containTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: -30px;
}
.CelebrationTitle {
  font-size: xx-large !important;
  text-wrap: nowrap;
}
.containCelebration img {
  width: 35%;
  margin-top: 2%;
}
.circle {
  background-color: #ae593c;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-left: 10px;
}
.CelebrationTxt {
  position: relative;
  text-align: right;
  direction: rtl;
  margin-right: 20%;
  margin-top: 8%;
}
.CelebrationTxt p {
  font-size: larger;
  color: black;
  margin-top: -20px;

}

.continueBtn {
  background-color: #06ab2b;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 20px;
  font-size: x-large;
  left: 0;
  position: relative;
}
.continueBtn:hover{
    box-shadow: 2px 2px 8px #5e5e5e;
  
  }
.containBtn {
  width: 100%;
  display: flex;
  justify-content: end;
}
.laptopShowCelebration {
}
.mobileShowCelebration {
  display: none;
}

.containCelebration {
  position: relative; /* برای قرار دادن متن روی تصویر */
  width: 100%;
}

.mobileShowCelebration {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.overlayMobileCelebration {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #faf8f1, rgba(255, 255, 255, 0.459));
  display: none;
}
.spacearound{
  justify-content: space-around !important;
}
.inputCelebration{
  width: 100%;
  padding: 8px 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-size: small;
}
.inputCelebrationHalf{
  width: 40%;
}

.inputCelebration:focus {
  border: 2px solid #d17640;
  outline: none;
}
.titleInputCelebration{
  font-size: medium !important;
  width: 100px !important;
}
.customSearch{
  border-radius: 10px !important;
  width: 50%;
  padding: 13px 0 !important;
  color: white;
  font-size: medium !important;

}
@media screen and (max-width: 900px) {
    .mobileShowCelebration {
        display: flex;
        height: 100vh;
      }
}

@media screen and (max-width: 1200px) {
  .CelebrationTxt {
    position: absolute;
  }
  .overlayMobileCelebration {
    display: initial;
  }
  .laptopShowCelebration {
    display: none;
  }
  .mobileShowCelebration {
    display: flex;
    height:70vh;
  }
  .overlayMobileCelebration{
height: auto;
  }
  .containCelebration img {
    width: 100%;
  }
  .containCelebration {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .CelebrationTxt {
    left: 0;
    width: 90%;
  }
  .containTitle {
    margin-right: 10px;
  }
  .CelebrationTxt {
    padding: 20px;
  }
  .CelebrationTxt p {
    margin-right: 30px;
  }
}
